// all related design helpers
@import "settings/sizes";

//
.text-center {
  text-align: center;
}


//
@each $size in $spacing {
  .rounded-#{$size} {
    border-radius: #{$size}px;
  }
}
@media only screen and (max-width: 600px) {
  .xs\:max-h-full {
    background-color: lightblue;
  }
}
// border 1 px
.border {
  border-width: 1px !important;

}

// all other borders

// all other shadow
.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
}

// add other shadow values
