// all related spacing helpers
@import "settings/sizes";

@each $size in $spacing {
  .pl-#{$size} {
    padding-left:  #{$size}px;
  }
  .pr-#{$size} {
    padding-right: #{$size}px;
  }
  .pt-#{$size} {
    padding-top:  #{$size}px;
  }
  .pb-#{$size} {
    padding-bottom:  #{$size}px;
  }
  .p-#{$size} {
    padding:  #{$size}px;
  }

  .py-#{$size} {
    padding-top:  #{$size}px;
    padding-bottom:  #{$size}px;
  }

  .px-#{$size} {
    padding-top:  #{$size}px;
    padding-bottom:  #{$size}px;
  }
  // you can continue with p-x ....
}

@each $size in $spacing {
  .ml-#{$size} {
    margin-left:  #{$size}px;
  }
  .mr-#{$size} {
    margin-right:  #{$size}px;
  }
  .mt-#{$size} {
    margin-top:  #{$size}px;
  }
  .mb-#{$size} {
    margin-bottom:  #{$size}px;
  }
  .m-#{$size} {
    margin:  #{$size}px;
  }
  // you can continue with p-x ....
}

