// defines colors app here
// define all colors settings here
//
$purple: purple;
$white: white;
$red: red;
$yellow: yellow;
$gray: #d7cfcf;
$purples: ('50': rgba(245, 243, 255), 500 : rgba(139, 92, 246), 600: rgba(139, 92, 246), 700: rgba(109, 40, 217), 800 : rgb(91, 33, 182));
// you can add all values heres
