<div class="h-full flex align-middle content-center">
  <form class="p-4" [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
    <h3 class="font-bold text-xl">
      Log in.
    </h3>
    <p class="pt-12">
      Log in with your data that you entered during your registration
    </p>
    <div class="pt-24">
      <label for="email" class="font-bold pb-2">Your e-mail</label>
      <div class="pt-4">
        <input id="email" class="w-full shadow rounded-4 border px-6 py-8" name="email" formControlName="email"/>


      </div>
      <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-red pt-6">
        <div *ngIf="email?.errors?.required">
          Email is required.
        </div>
        <div *ngIf="email?.errors?.email">
          Invalid email.
        </div>
      </div>
    </div>


    <div class="pt-24">
      <label for="password" class="font-bold pb-2">Password</label>
      <div class="pt-4">
        <input id="password" class="w-full shadow rounded-4 border px-6 py-8" type="password"
               name="Password" formControlName="password"/>
      </div>
      <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-red pt-6">
        <div *ngIf="password?.errors?.required">
          Password is required.
        </div>
      </div>
    </div>

    <div class="pt-24">
      <div>
        <input id="keep_me_logged_in" type="checkbox" name="keepMeLoggedIn" formControlName="keepMeLoggedIn"/>
        <label for="keep_me_logged_in">Keep me logged in</label>
      </div>
    </div>

    <div *ngIf="error" class="text-red mt-12 py-12  text-center">
      {{error}}
    </div>

    <div *ngIf="isLoading" class=" mt-12 py-12  text-center">
      <app-icon id="dots" fillColor="purple"></app-icon>
    </div>
    <div>
      <button *ngIf="!isLoading" class="bg-purple-500 p-4 rounded-6 w-full text-white mt-12 py-12 app-cursor shadow"
              type="submit">Log in
      </button>
    </div>
    <div>
      <div class="login-action actions text-center">
        <div class="pt-12">
          Don't have an account? <a class="text-purple-800  font-bold" routerLink="/auth/signup">Sign up </a>
        </div>
        <div class="pt-12">
          <a routerLink="/auth/forgot-password" class="text-purple-800 font-bold">Forgot password</a>
        </div>
      </div>
    </div>
  </form>
</div>
